FUKUSUKE_DATABASE_USERNAME=root
FUKUSUKE_DATABASE_PASSWORD=
FUKUSUKE_DATABASE_HOST=db
REDIS_URL=redis://redis:6379/0
BUNDLE_GITHUB__COM=
IKEDAYAMA_API_ENDPOINT=https://g4b-stg.giftee.biz
IKEDAYAMA_ACCESS_TOKEN=
IKEDAYAMA_GIFTEE_BOX_CONFIG_CODE=